.btn {
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border-radius: 10rem;
    text-decoration: none;
    transition: all 0.2s;
    position: relative;
    font-size: $default-font-size;
  }

  &-white {
    background-color: $color-white;
    color: $color-grey;

    &::after {
      background-color: $color-white;
    }
  }

  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black, 0.2);
    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(1px);
    box-shadow: 0 5px 10px rgba($color-black, 0.2);
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 10rem;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &-animated {
    animation: animateToUp 1s ease-out 0.75s backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $default-font-size;
    color: $color-primary;
    text-decoration: none;
    border-bottom: 1px solid $color-primary;
    padding: 1rem 1rem;
    border-radius: 1px;
    transition: all 0.4s;
  }

  &:hover {
    background-color: $color-primary;
    box-shadow: 0 1rem 2rem rgba($color-primary, 0.5);
    color: $color-white;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.2rem 1rem rgba($color-primary, 0.5);
    transform: translateY(0px);
  }
}
