.composition {
  position: relative;
  &--image {
    width: 55%;
    box-shadow: 1rem 1rem 2rem rgba($color-black, 0.4);
    position: absolute;
    z-index: 10;
    --scale: 1;
    transform: translateY(0) scale(--scale);
    outline-offset: 1rem;
    transition: all 0.4s;
    &-p1 {
      left: 0;
      top: -3px;
      animation: ToUpAndDown-p1 1s ease-in-out infinite alternate backwards;
    }
    &-p2 {
      right: 0;
      top: 2rem;
      animation: ToUpAndDown-p2 1.3s ease-in-out infinite alternate backwards;
    }
    &-p3 {
      left: 20%;
      top: 10rem;
      animation: ToUpAndDown-p3 1.6s ease-in-out infinite alternate backwards;
    }

    &:hover {
      animation-play-state: paused;
      outline: 0.9rem solid $color-primary;
      box-shadow: 2rem 2rem 3rem rgba($color-black, 0.6);
      transform: scale(1.01);
      z-index: 20;
    }
  }
  &:hover &--image:not(:hover) {
    transform: scale(0.9);
    box-shadow: 0.5rem 0.5rem 1rem rgba($color-black, 0.2);
  }
}
